<!DOCTYPE html>
<html lang="zh-tw">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/gif" href="/static/images/favicon.gif" />
    <title>Life Manager</title>
    <!-- Bootstrap core CSS-->

    {% load static %}
    <!-- Bootstrap core CSS-->
    <link href="{% static 'styles/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Page level plugin CSS-->
    <link href="{% static 'styles/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="{% static 'styles/sb-admin.css' %}" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
    {% block styles %}
    {% endblock %}

</head>

<body id="page-top">

    <nav class="navbar navbar-expand navbar-dark bg-dark static-top">
        <a class="navbar-brand mr-1" href="{% url 'base:index' %}">生活小幫手</a> 
        <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
            <i class="fa fa-bars"></i>
        </button>

        <!-- Navbar -->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-user fa-fw"></i>
                </a>
                <div id="limit" class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                    <a id="login" class="dropdown-item" href="{% url 'limit:login' %}">Login</a>
                    <a hidden class="dropdown-item" href="{% url 'limit:user' %}">User Info</a>
                    <div hidden class="dropdown-divider"></div>
                    <a hidden class="dropdown-item" href="{% url 'limit:logout' %}" >Logout</a>
                </div>
            </li>
        </ul>
        <span id="username" class="navbar-nav" style="color:aliceblue; font-size: 10px">訪客，您好！</span>

    </nav>

    <div id="wrapper">
        {% block left %}
        
        {% endblock %}        
        <div id="content-wrapper">
            <div class="container-fluid">
                <div class="card mb-3">
                    {% block main %}
                    {% endblock %}
                </div>

            </div>

            <!-- Sticky Footer -->
            <footer class="sticky-footer">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>AIEN03-2 © Our Website 2018</span>
                        <a style="position:fixed ;bottom:100px ;left:15px" href="#"><img style="width:180px" src="/static/images/Usavich-09.gif"/></a>
                    </div>
                </div>
            </footer>

        </div>
        <!-- /.content-wrapper -->

    </div>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
    </a>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'scripts/jquery.min.js' %}"></script>
    <script src="{% static 'scripts/bootstrap.bundle.min.js' %}"></script>
    <!-- Page level plugin JavaScript-->
    <script src="{% static 'scripts/jquery.easing.min.js' %}"></script>
    <script src="{% static 'scripts/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'scripts/dataTables.bootstrap4.min.js' %}"></script>
    <!-- Custom scripts for all pages-->
    <script src="{% static 'scripts/sb-admin.min.js'%}"></script>
    <script>
    $(document).ready(function(){
        name= ""
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') c = c.substring(1, c.length);
        if (c.indexOf("name=") == 0) 
        name =  c.substring("name=".length, c.length);
        }
        if(name){
            $("#username").text(name+"，您好")
            $("#limit > a").removeAttr("hidden").find("#login").attr("hidden","true")
            $("#login").attr("hidden","true")
        }
    })
    </script>

    {% block scripts %}
    {% endblock %}

</body>

</html>